<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
<div class="container bootdey">
    <div class="panel panel-default panel-order">
        <div class="panel-heading">
            <strong>Order history</strong>
        </div>
        
<% current_user.order_bookings.each do |order| %>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-11">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right"><label class="label label-info">
                            	<% if OrderStatus.where(order_id: order.id).map(&:status).include?("cancelled") %>
					            <div class="col-3"> <span id="price"><button type="button" class="btn btn-warning" disabled>Canceled!</button></span> </div>
                                <% elsif OrderStatus.where(order_id: order.id).map(&:status).include?("deliverd") %>
                                <div class="col-3"> <span id="price"><button type="button" class="btn btn-success" disabled>Deliverd!</button></span> </div>
                                <% else %>
					            <div class="col-3"> <span id="price"><a href="/cancel/<%= order.id %>" data-tip="Cancel Order" onclick="alert('cancel order')" class="btn btn-danger">Cancel order</a></span> </div>
					            <% end %>
                                    </label></div>
                            <span><strong><%= order.id%></strong></span> <span class="label label-info">
                            	<%= order.product_id.join(', ')%></span><br/>
                             cost: RS:<%= order.amount_total%><br />
                             <% current_user.reviews.each do |review|%>
                             <%= review.comment%>
                             <%= review.rating%>
                             <% end %>
                             <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#form"> Add review </button>
						<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						    <div class="modal-dialog modal-dialog-centered" role="document">
						        <div class="modal-content">
						            <div class="text-right cross" data-dismiss="modal"> <i class="fa fa-times mr-2"></i> </div>
						            <div class="card-body text-center"> <img src=" https://i.imgur.com/d2dKtI7.png" height="100" width="100">
						                <div class="comment-box text-center">
						                		<%= form_with(model: @review, local: true) do |form| %>
														<% if @review.errors.any? %>
														<div id="error_explanation">
														<h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

														<ul>
														<% @review.errors.full_messages.each do |message| %>
														<li><%= message %></li>
														<% end %>
														</ul>
														</div>
														<% end %>
								                    <h4>Add a comment</h4>
								                    <div class="rating"><input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label> </div>
								                    <div class="comment-area">  <%= form.text_area :comment, class: "form-control", :required => true,  placeholder: "What is your views?" %> </div><br><br>
								                    
								                    <div  style="text-align: center;">
																<%= form.submit :submit, class: "btn btn-info"%>
																<%= link_to 'Back', orders_path, class: "btn btn-info" %>
													</div>
													</form><br><br>
													</div>
												<% end %>
                             		</div>
                     			</div>
                     		</div>
                         </div>
                    </div>
                        <div class="col-md-12">order made on: <%= order.created_at%> </div>
                </div>
            </div>
	</div>
</div>   
<% end %>        
    </div>
</div>

<style>

body{

}
.panel-order .row {
    border-bottom: 1px solid #ccc;
}
.panel-order .row:last-child {
    border: 0px;
}
.panel-order .row .col-md-1  {
    text-align: center;
    padding-top: 15px;
}
.panel-order .row .col-md-1 img {
    width: 50px;
    max-height: 50px;
}
.panel-order .row .row {
    border-bottom: 0;
}
.panel-order .row .col-md-11 {
    border-left: 1px solid #ccc;
}
.panel-order .row .row .col-md-12 {
    padding-top: 7px;
    padding-bottom: 7px; 
}
.panel-order .row .row .col-md-12:last-child {
    font-size: 11px; 
    color: #555;  
    background: #efefef;
}
.panel-order .btn-group {
    margin: 0px;
    padding: 0px;
}
.panel-order .panel-body {
    padding-top: 0px;
    padding-bottom: 0px;
}
.panel-order .panel-deading {
    margin-bottom: 0;
} 
.rating {
    display: inline-flex;
    margin-top: -10px;
    flex-direction: row-reverse
}  

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 28px;
    font-size: 35px;
    color: #ebab34;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
} 
 img {
    
    height: 50px;
    width: 80px;
}                
</style>

