<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>
      
      <ul>
        <% address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
  <form class="row g-3 ">
    <div class="col-md-6">
      <label for="inputEmail4" >Email</label>
      <%= form.text_field :email, class: "form-control", :required => true, value: current_user.email, readonly: true %>
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" >Phone</label>
      <%= form.number_field :phone, class: "form-control", :required => true   %>
    </div>
    <div class="col-6">
      <label for="inputAddress" >Address</label>
      <%= form.text_field :line1, class: "form-control", placeholder: "1234 Main St", :required => true    %>
    </div>
    <div class="col-6">
      <label for="inputAddress2" >Address 2</label>
      <%= form.text_field :line2, class: "form-control" , placeholder: "Apartment, studio, or floor", :required => true %>
    </div>
    <div class="col-md-6">
      <label for="inputState" >State</label>
      <%= form.text_field :state, class: "form-control", :required => true   %>
    </div>
    <div class="col-md-6">
      <label for="inputZip" >Zip</label>
      <%= form.number_field :pincode, class: "form-control", :required => true   %>
    </div>

    <div class="col-md-6">
      <label for="inputCity" >country</label>
      <%= form.text_field :country, class: "form-control", :required => true   %>
    </div><br><br>


    <div  style="margin-left:120px">
      <%= form.submit :submit, class: "btn btn-info"%>
      <%= link_to 'Back', addresses_path, class: "btn btn-info" %>
    </div>
  </form><br><br>
  </div>
<% end %>
<style type="text/css">
  .container{
    margin-left: 120px; 
  }
</style>

