<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @address.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @address.phone %>
</p>

<p>
  <strong>Line1:</strong>
  <%= @address.line1 %>
</p>

<p>
  <strong>Line2:</strong>
  <%= @address.line2 %>
</p>

<p>
  <strong>Landmark:</strong>
  <%= @address.landmark %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @address.pincode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>



