<p id="notice"><%= notice %></p>
  <strong style="margin-left:200px; font-size: 25px; text-align: center;">Your Address</strong>
  <ul class="list-group list-group-flush">
  <li class="list-group-item"><p>
  <strong style="margin-left:100px;">Email:</strong>
  <%= @address.email %>
</p></li>
  <li class="list-group-item"><p>
  <strong style="margin-left:100px;">Phone:</strong>
  <%= @address.phone %>
</p></li>
  <li class="list-group-item"><p>
  <strong style="margin-left:100px;">Line1:</strong>
  <%= @address.line1 %>
</p></li>
  <li class="list-group-item"><p>
  <strong style="margin-left:100px;">Line2:</strong>
  <%= @address.line2 %>
</p></li>
  <li class="list-group-item"><p>
  <strong style="margin-left:100px;">Pincode:</strong>
  <%= @address.pincode %>
</p></li>
  <li class="list-group-item"><p>
  <strong style="margin-left:100px;">State:</strong>
  <%= @address.state %>
</p></li>
  <li class="list-group-item"><p>
  <strong style="margin-left:100px;">Country:</strong>
  <%= @address.country %>
</p></li>
</ul><br>

<%= link_to 'Continue', carts_path,class: "btn btn-info", style: "margin-left:150px" %><hr>


