<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @feedback.product_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @feedback.user_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @feedback.body %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @feedback.rate %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
