<!DOCTYPE html>
<html>
  <head>
    <title>Commerce</title>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   
    <!------ Include the above in your HEAD tag ---------->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
     <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="shortcut icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaxILGO57ATpJlRhFgvgi2PtVQwytz2t54Ew&usqp=CAU" id="favicon" />         
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark  " style="background-color: #f7bf50; width: 100%; height: 150px;" >
       <h1><a class="navbar-brand" href="/"><%= image_tag("logos/product.png",height: '200px')%>  </a></h1> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/homes" style="text-transform: uppercase; font-weight: bold; color: black;">HOME <span class="sr-only">(current)</span></a>
                </li>

                <% if current_user.present?  %>
                <li class="nav-item">
                  <a class="nav-link" href="/wishlists" style="text-transform: uppercase; font-weight: bold;color: black;">WISHLIST</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/products" style="text-transform: uppercase; font-weight: bold;color: black;">products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/carts" style="text-transform: uppercase; font-weight: bold; color: black;">CART</a>
                </li>
                <% end %>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="text-transform: uppercase; font-weight: bold;color: black;">
                        CATEGORY
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">MOBILE</a>
                        <a class="dropdown-item" href="#">WATCH</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Comming soon</a>
                    </div>
                </li>



               
                <li class="nav-item">
                  <a class="nav-link" href="/contacts" style="text-transform: uppercase; font-weight: bold; color: black;">CONTACT US</a>
                </li>
            </ul>
             
           <!--  <form class="form-inline my-2 my-lg-0" action="/Search">
              <input class="form-control mr-sm-2" placeholder="Search" name = form[name] >
              <button class="btn btn-info" type="submit" >Search</button>
            </form> -->
            <%= form_tag(search_path, :method => "get", id: "search-form", class: "form-inline my-2 my-lg-0") do %>
                  <%= text_field_tag :search, params[:search], placeholder: "Search " %>&nbsp
                  <%= submit_tag "Search", class: "btn btn-info", :name => nil %>
            <% end %>
        </div>
        <div id="user_nav" style="margin-left:5%",>
          <% if user_signed_in? %>
           <!-- Copyright Signed in as <%#= current_user.email %>. Not you?-->
           <%= link_to destroy_user_session_path, :method => :delete, class: "btn btn-danger" do ||   %>
             <i class="fas fa-sign-out-alt"></i><% end%>
          <% else %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success"%> or <%= link_to "Log in", new_user_session_path, class: "btn btn-success" %>
        <% end %>
      </div>
    </nav>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %><br>
   

   <%= yield %>
   
    
<footer class="footer bg-dark">
        <div class="container">
            <div class="row">
               
                <div class="col-lg-6 text-center text-lg-left my-auto  wow zoomIn">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="#">About</a>
                        </li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item">
                            <a href="/contacts">Contact</a>
                        </li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">© sourabh 2022. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 text-center text-lg-right my-auto  wow zoomIn">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href=" https://www.facebook.com/">
                                <i class="fa fa-facebook fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href=" https://twitter.com/">
                                <i class="fa fa-twitter fa-2x fa-fw"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/">
                                <i class="fa fa-instagram fa-2x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
<!-- Footer -->

  </body>
</html>
<style type="text/css">
  h3.h3{text-align:center;margin:1em;text-transform:capitalize;font-size:1.7em;}

/********************* shopping Demo-1 **********************/
.product-grid{font-family:Raleway,sans-serif;text-align:center;padding:0 0 72px;border:1px solid rgba(0,0,0,.1);overflow:hidden;position:relative;z-index:1}
.product-grid .product-image{position:relative;transition:all .3s ease 0s}
.product-grid .product-image a{display:block}
/*.product-grid .product-image img{width:100%;height:auto}*/
.product-grid .product-image img{height:200px;}
.product-grid .pic-1{opacity:1;transition:all .3s ease-out 0s}
/*.product-grid:hover .pic-1{opacity:1}*/
.product-grid .pic-2{opacity:0;position:absolute;top:0;left:0;transition:all .3s ease-out 0s}
/*.product-grid:hover .pic-2{opacity:1}*/
.product-grid .social{width:150px;padding:0;margin:0;list-style:none;opacity:0;transform:translateY(-50%) translateX(-50%);position:absolute;top:60%;left:50%;z-index:1;transition:all .3s ease 0s}
.product-grid:hover .social{opacity:1;top:50%}
.product-grid .social li{display:inline-block}
.product-grid .social li a{color:#fff;background-color:#333;font-size:16px;line-height:40px;text-align:center;height:40px;width:40px;margin:0 2px;display:block;position:relative;transition:all .3s ease-in-out}
.product-grid .social li a:hover{color:#fff;background-color:#ef5777}
.product-grid .social li a:after,.product-grid .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;letter-spacing:1px;line-height:20px;padding:1px 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-20px;z-index:-1}
.product-grid .social li a:hover:after,.product-grid .social li a:hover:before{opacity:1}
.product-grid .product-discount-label,.product-grid .product-new-label{color:#fff;background-color:#ef5777;font-size:12px;text-transform:uppercase;padding:2px 7px;display:block;position:absolute;top:10px;left:0}
.product-grid .product-discount-label{background-color:#333;left:auto;right:0}
.product-grid .rating{color:#FFD200;font-size:12px;padding:12px 0 0;margin:0;list-style:none;position:relative;z-index:-1}
.product-grid .rating li.disable{color:rgba(0,0,0,.2)}
.product-grid .product-content{background-color:#fff;text-align:center;padding:12px 0;margin:0 auto;position:absolute;left:0;right:0;bottom:-27px;z-index:1;transition:all .3s}
.product-grid:hover .product-content{bottom:0}
.product-grid .title{font-size:13px;font-weight:400;letter-spacing:.5px;text-transform:capitalize;margin:0 0 10px;transition:all .3s ease 0s}
.product-grid .title a{color:#828282}
.product-grid .title a:hover,.product-grid:hover .title a{color:#ef5777}
.product-grid .price{color:#333;font-size:17px;font-family:Montserrat,sans-serif;font-weight:700;letter-spacing:.6px;margin-bottom:8px;text-align:center;transition:all .3s}
.product-grid .price span{color:#999;font-size:13px;font-weight:400;text-decoration:line-through;margin-left:3px;display:inline-block}
.product-grid .add-to-cart{color:#000;font-size:13px;font-weight:600}
@media only screen and (max-width:990px){.product-grid{margin-bottom:30px}
}
.topnav a:hover {
    border-bottom: 3px solid red;
}
</style>

<script>
    $(document).ready(function(){
      $(".fancybox").fancybox({
            openEffect: "none",
            closeEffect: "none"
        });
    });
</script>
    </body>

    <style type="text/css">
        
        body {
    font-family: 'Open Sans', sans-serif !important;
    background: #fff;
    color: #222;
}

.navbar-shrink{
    padding-top: 0;
    padding-bottom: 0;
}

header.masthead {
    position: relative;
    height: 100vh;
    background-color: #343a40;
    background: url('https://media.istockphoto.com/photos/red-shoppings-bag-from-recycle-paper-isolated-on-white-background-picture-id869978500?k=20&m=869978500&s=612x612&w=0&h=LYgyQh42JRevPo_3_rmnUvlva8pVm-KEdit_7s4z944=') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.masthead .overlay{position:absolute;background-color:#212529;height:100%;width:100%;top:0;left:0;opacity:.3}

@media (min-width:768px) {
    header.masthead {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
    header.masthead h3 {
        font-size: 4rem;
    }
}

.testimonials{
    padding-top:5rem;
    padding-bottom:5rem;
    
}

.myform-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button.btn.btn-light {
    position: absolute;
    background: transparent;
    border: none;
    height: 38px;
    right: 23px;
}

a.btn.btn-default.btn-scroll {
    border: 2px solid #fff;
    color: #fff;
    border-radius: 100%;
}



.big-img img {
    height: 325px;
    width:100%;
    object-fit: cover;
}

.inner-section{
 position:relative;   
}
.container.slider-top-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-login {
    width: 138px;
    background: #1fc6d8 !important;
    border: 1px solid #1fc6d8 !important;
}
.btn-login:hover{
       background: #3683a1 !important;
    border: 1px solid #1fc6d8 !important;
}
.mfa-white {
    color: #fff !important;
}

h3.my-heading {
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    margin:0;
}

p.myp-slider.text-center {
    color: #fff;
}

.btn-register {
    width: 138px;
    background: #1fc6d8 !important;
    border: 1px solid #1fc6d8 !important;
}


.btn-register:hover{
       background: #3683a1 !important;
    border: 1px solid #1fc6d8 !important;
}

.btn-join {
    background: #1fc6d8 !important;
    border: 1px solid #1fc6d8 !important;
}

section#about {
    width: 100%;
    padding-top: 2.1rem;
    padding-bottom: 2.1rem;
}

.btn-circle {
    border-radius: 50%;
}

.my-social-btn {
    background: lightgrey;
}

.card:hover .my-social-btn.fb {
    background: #205b9f;
}
.card:hover .my-social-btn.twitter {
    background: #00ace3;
}
.card:hover .my-social-btn.google {
    background: #ff3921;
}

a.btn.btn-circle.my-social-btn.fb:hover {
    background: #205b9f;
}

a.btn.btn-circle.my-social-btn.twitter:hover {
    background: #00ace3;
}

a.btn.btn-circle.my-social-btn.google:hover {
    background: #ff3921;
}

a.btn.btn-circle.my-social-btn {
    color: #fff;
    height: 40px;
    width: 40px;
}

.inner-section h3 {
    text-transform: uppercase;
    font-weight:bold;
}

.inner-section h3:after {
    content: '';
    position: absolute;
    border-bottom: 4px solid #008ba3;
    width: 100%;
    max-width: 10%;
    top: 37px;
    left: 0;
}
span.bg-main {
    color: #008ba3;
}

hr.my-border {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid #008ba3;
    width: 117px;
}

.linear-grid img {
    width: 100%;
    height: 124px;
    object-fit: cover;
}

.mybg-events {
    background: url('https://www.factor-a.com/wp-content/uploads//2019/09/Product-Launch-Amazon-Sponosored-Ads.jpg') no-repeat center center fixed;
    background-size: cover;
}

.h-262 {
    height: 262px !important;
}

h3.title-heading.text-center {
    color: #fff;
    font-weight: bold;
}

p.myp.text-center {
    color: #fff;
    font-size: 14px;
    margin-bottom: 3rem;
}

.big-img2 img {
    height: 472px;
    width: 100%;
    object-fit: cover;
}

.my-grid img {
    height: 228px;
    width: 100%;
    object-fit: cover;
}

.text-block {
    min-height: 228px;
    height: auto;
    background: #fff;
    padding: 15px;
}

h5.events-heading {
    font-weight: bold;
    font-size: 17px;
}

p.myp-font {
    font-size: 15px;
}

section#group {
    background: #fff;
    height: 100%;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none !important;
    border-radius: .28571429rem;
}

.card:hover {
    color: #222 !important;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none !important;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
  bottom: 0px;
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.mybg-music {
    background: url('https://assets-global.website-files.com/5c7fdbdd4e3feeee8dd96dd2/60c3dab4298f44999078d314_faf3c844-fa06-4aaa-9c3b-b2ab5113e2cf.jpeg') no-repeat center center fixed;
    background-size: cover;
}

section#marketplace {
    background: #f7f7f7;
    height: 100%;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

section#marketplace .card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

section#artist {
    background: #fff;
    height: 100%;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

a.link-color {
    color: #008ba3;
    font-weight: bold;
}

.my-right-text {
    padding-top: 3rem;
}


/***music gallery***/

.gal-item {
overflow: hidden;
}
.gal-item .box {

overflow: hidden;
}
.box img {
height: 160px;
width: 100%;
object-fit: cover;
-o-object-fit: cover;
}
/****/
.item {
position: relative;
}
.item img {
max-width: 100%;
-moz-transition: all 0.3s;
-webkit-transition: all 0.3s;
transition: all 0.3s;
}
.item:hover img {
-moz-transform: scale(1.4);
-webkit-transform: scale(1.4);
transform: scale(1.4);
}



/*sidebar navigation*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-right: 15px;
}
#main {display: none;}
#main {
    float: right;
    transition: margin-right .5s;
    
}
a.openNav {
    font-size: 26px;
    color: #ffffff;
    text-decoration: none;
}
.sidenav .nav-link {
    font-size: 13px;
    font-weight: bold;
}
.mob-ul {
    list-style-type: none;
    padding-left: 0;
}
.sidenav li{
    padding: 0 3px !important;
    position: relative;
}
.sidenav li a {
    padding: 10px 15px;
    text-transform: uppercase;
}
.sidenav ul li:hover .nav-link {
    color: #008ba3;
}

li.nav-item a:hover {
    background: #008ba3;
    color: #ffffff !important;
}



.floating-arrow {
    -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
    -o-animation: floating-arrow 1.6s infinite ease-in-out 0s;
    animation: floating-arrow 1.6s infinite ease-in-out 0s;
}

@keyframes floating-arrow {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    65% {
        -webkit-transform: translateY(11px);
        transform: translateY(11px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

footer.footer{padding-top:4rem;padding-bottom:4rem}

li.list-inline-item a {
    color: #fff;
    text-decoration: none;
}


/*-------------------responsive-----------------*/

@media screen and (max-width: 520px) {
    ::placeholder {
        font-size: 10px;
    }
    .scroll-down {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 45px;
    }
    
    .text-block {
        padding: 15px;
    }
    .linear-grid img {
        width: 100%;
        height: 181px;
    }
    .my-grid img {
        width: 100%;
    }
   
   
}
@media screen and (max-width: 767px) {
    .btn-login{
       width:100%; 
    }
    .btn-register {
         width:100%; 
    }
}



@media only screen and (min-width:2560px){}
@media only screen and (min-width:1600px) and (max-width:1920px){
    .navbar-toggler {display: none !important;}
}
@media only screen and (min-width:1440px){
    .navbar-toggler {display: none !important;}
}
@media only screen and (max-width: 1280px){
    .navbar-toggler {display: none !important;}
}
@media only screen and (max-width: 1024px){
    .navbar-toggler {display: none !important;}
    .mob-ul{list-style-type: none; padding-left: 0;}
    h5.events-heading{font-size:15px;}
    p.myp-font{font-size:13px;}
}
@media only screen and (min-width: 960px) and (max-width: 1023px) {
    .navbar-toggler {display: none !important;}
    .mob-ul{list-style-type: none; padding-left: 0;}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
.navbar-toggler {display: none !important;}
    #main {display: block;}
    .header-wrap .navbar .nav-link {color: #fff;}
    .mob-ul{list-style-type: none; padding-left: 0;}
    .header-wrap .sub-menu {width: 250px;}

}

@media only screen and (max-width:736px) and (orientation:landscape){
    .navbar-toggler {display: none !important;}
    #main {display: block;}
    .header-wrap .navbar .nav-link {color: #fff;}
    .mob-ul{list-style-type: none; padding-left: 0;}
    .header-wrap .sub-menu {width: 250px;}
}
@media only screen and (max-width:667px) and (orientation:landscape){
    .navbar-toggler {display: none !important;}
    #main {display: block;}
    .header-wrap .navbar .nav-link {color: #fff;}
    .mob-ul{list-style-type: none; padding-left: 0;}
    .header-wrap .sub-menu {width: 250px;}
}
@media only screen and (max-width:568px) and (orientation:landscape){
    .navbar-toggler {display: none !important;}
    #main {display: block;}
    .header-wrap .navbar .nav-link {color: #fff;}
    .mob-ul{list-style-type: none; padding-left: 0;}
    .header-wrap .sub-menu {width: 250px;}
}
@media only screen and (min-width: 600px) and (max-width: 767px) {
    h5.events-heading {
    font-size: 20px;
}
p.myp-font {
    font-size: 15px;
}
    .navbar-toggler {display: none !important;}
    #main {display: block;}
    .header-wrap .navbar .nav-link {color: #fff;}
    .mob-ul{list-style-type: none; padding-left: 0;}
    .header-wrap .sub-menu {width: 250px;}  
    .box img {height: 100%;}
}
@media only screen and (min-width: 480px) and (max-width: 599px) {
    .inner-section h3 {
        font-size: 18px;
    }
    h5.events-heading{font-size:15px;}
    .inner-section p {
    font-size: 13px;
    text-align: justify;
    }
    section#marketplace img {
     object-fit: cover;
    }
    .navbar-toggler {display: none !important;}
    #main {display: block;}
    .header-wrap .navbar .nav-link {color: #fff;}
    .mob-ul{list-style-type: none; padding-left: 0;}
    .header-wrap .sub-menu {width: 250px;}
    .box img {height: 100%;}
}
@media only screen and (min-width: 321px) and (max-width: 479px) {
    .inner-section h3 {
        font-size: 18px;
    }
    h5.events-heading{font-size:15px;}
    .inner-section p {
    font-size: 13px;
    text-align: justify;
    }
    section#marketplace img {
     object-fit: cover;
    }
    .navbar-toggler {display: none !important;}
    #main {display: block;}
    .header-wrap .navbar .nav-link {color: #fff;}
    .mob-ul{list-style-type: none; padding-left: 0;}
    .header-wrap .sub-menu {width: 250px;}  
    .box img {height: 100%;}
}
@media only screen and (max-width:568px) and (orientation:landscape){
    .navbar-toggler {display: none !important;}
    #main {display: block;}
    .header-wrap .navbar .nav-link {color: #fff;}
    .mob-ul{list-style-type: none; padding-left: 0;}
    .header-wrap .sub-menu {width: 250px;}
    .box img {height: 100%;}
}
@media only screen and (max-width: 320px) {
     .inner-section h3 {
        font-size: 18px;
    }
    h5.events-heading{font-size:15px;}
    .inner-section p {
    font-size: 13px;
    text-align: justify;
    }
    section#marketplace img {
     object-fit: cover;
    }
    .navbar-toggler {display: none !important;}
    #main {display: block;}
    .header-wrap .navbar .nav-link {color: #fff;}
    .mob-ul{list-style-type: none; padding-left: 0;}
    .header-wrap .sub-menu {width: 250px;}
    .box img {height: 100%;}
}

    </style>


    <script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("myDIV");
    var btns = header.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
    });
    }
</script>
